.headerlink {
  position: relative;
  display: inline-block;
}

.headerlink__title {
  /* Typography */
  font-size: var(--size-xs);
  font-weight: 600;
  color: white;
  text-decoration: none;
  letter-spacing: -0.05em;
}

/* Pseudo Element */
.headerlink__title::after {
  content: '';

  /* Box Model */
  width: 0;
  height: 1px;

  /* Background */
  background-color: white;

  /* Position */
  position: absolute;
  bottom: 0;
  left: 0;

  /* Transition */
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0.05s;
}

.headerlink__title:not(.headerlink__active):hover::after {
  width: 100%;
}

.headerlink__active::after {
  width: 100%;
}
