---

const { className } = Astro.props;

// Import Icons
import { Icon } from "astro-icon/components";

// Import Smaller Component pieces
import HeaderLink from "../small-piece/HeaderLink.astro";





---

<!-- Header Section -->
<header class=`header ${className}`>

    <nav class="header__nav">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/projects/">Projects</HeaderLink>
        <HeaderLink href="/blogs/">Blog</HeaderLink>
        <HeaderLink href="/shop/">Shop</HeaderLink>
    </nav>

    <div class="header__socials">
        <a class="header__social-media" href="http://www.youtube.com/@FumezCreates" target="_blank"><Icon name="youtube" size={25}/></a>
        <a class="header__social-media" href="https://github.com/fumzy123" target="_blank"><Icon name="github" size={25} /></a>
    </div>

</header>

<!-- Style Header Section -->
<style>
    .header {

        /* Layout */
        display: flex;
        flex-direction: row;
        
        /** Box Model **/
        padding: 1rem 0rem 1rem;

        /* Typography  */
        /* color: white; */
    }

    .header__nav {
        /* Layout  */
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1.5rem;
    }

    

    .header__socials {
        /** Layout **/
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1rem;
    }

    .header__social-media {
        color: white;
        text-decoration: none;
    }

    .header__social-media:hover {
        color: #f3dfbfff;
    }

</style>