---
// import computerImage from '../../public/computer-gif-30fps.gif';
---

<section class="hero container">
  <img src="/computer-gif-30fps.gif" class="hero__img" />

  <div class="hero__intro">
    <h1 class="hero__name">Hello,<br />I'm Fume</h1>

    <p class="hero__desc">
      I'm a Web Developer and Motion Designer on a mission to build
      visually engaging, interactive, and immersive digital experience
      on the web through a Combination of Code, Design, and Animation.
      I love learning, consistently iterating and experimenting with
      new technologies. You can check out some of my projects and let
      me know if you like to work together.
    </p>

    <button class="hero__btn">Reach Out</button>
  </div>
</section>

<style>
  .hero {
    text-align: center;
  }

  .hero__img {
    /* Box Model for Image */
    border: 2px solid #f3dfbfff;
    border-radius: 20px;
  }

  .hero__name {
    /* Typography  */
    /* text-align: left; */
    color: #f3dfbfff;

    /* Box Model */
    margin-top: 2rem;
  }

  .hero__desc {
    /* padding: 1.5em; */
    text-align: justify;

    /* Box model */
    margin: 1em 0;
  }

  .hero__btn {
    /* Background */
    background: #f3dfbfff;

    /** Typography */
    color: #17181cff;
    font-weight: 700;

    /* Box Model */
    width: 9.375em;
    padding: 0.5rem;
    /* margin-top: 1rem; */
    border-radius: 8px;

    /* Layout */
    /* display: inline-block; */
  }

  /* -------------------- Adding Responsiveness ------------------------ */
</style>
