---
// Import Image components and images
import { Image, Picture } from 'astro:assets';

// Import Images
import firstImage from '../../assets/images/lady-with-bowl.jpg';
// import cmsImage from '../../assets/images/street-art.jpg';
import responsiveWebsiteImage from '../../assets/images/responsive-website.png';
import cmsImage from '../../assets/images/cms.png';
import threeDdevelopmentImage from '../../assets/images/3d-development.png';
---

<section class="services container section">
  <!-- Title -->
  <h2 class="services__title">What I do</h2>

  <!-- Web Development -->
  <div class="services__skill-container">
    <div class="services__skill">
      <h3 class="services__skill-name">Web Development</h3>
      <p class="services__skill-description">
        I bring your Figma design to life using custom code. Reponsive
        Websites, CMS Integration, and 3D Development, at your
        service.
      </p>
    </div>

    <div class="services__skill-image">
      <div class="keyword-img-container">
        <Image
          class="keyword-img responsiveWebsiteImage"
          data-key="responsive-website"
          src={responsiveWebsiteImage}
          alt=""
        />

        <Image
          class="keyword-img cmsImage"
          data-key="cms-image"
          src={cmsImage}
          alt=""
        />

        <Image
          class="keyword-img threeDdevelopmentImage"
          data-key="three-d-development"
          src={threeDdevelopmentImage}
          alt=""
        />
      </div>
      <div class="services__keyword-container">
        <button class="web-dev-keyword" data-key="responsive-website"
          >Responsive Websites</button
        >
        <button class="web-dev-keyword" data-key="cms-image"
          >CMS Integration</button
        >
        <button class="web-dev-keyword" data-key="three-d-development"
          >3D Development</button
        >
      </div>
    </div>
  </div>

  <!-- Motion Design  -->
  <div class="services__skill-container test">
    <div class="services__skill">
      <h3 class="services__skill-name">Motion Design</h3>
      <p class="services__skill-description">
        I transform static ideas into captivating animations. From
        engaging explainer videos, or seamless transitions, I’ll
        breathe life into your brand
      </p>
    </div>

    <div class="services__skill-image">
      <Image class="first__image" src={firstImage} alt="" />
      <div class="services__keyword-container">
        <p>Graphic Design</p>
        <p>Animation</p>
        <p>Sound Design</p>
      </div>
    </div>
  </div>
</section>

<style>
  .services__title {
    /* Typography */
    text-align: center;
    color: var(--clr-dutch-white);
    font-size: var(--size-3xl);
  }

  .services__skill-container {
    padding: 1rem;
    border-top: 2px solid var(--clr-cordovan);
    margin-top: 2rem;

    background-color: var(--clr-eerie-black);

    position: sticky;
    top: 50px;
  }

  .test {
    top: 110px;
  }
  .services__skill-name {
    color: var(--clr-cordovan);
  }

  .services__skill-description {
    margin: 0.5rem 0;

    /* Typography */
    font-size: var(--size-sm);
    color: var(--clr-slate600);
  }

  /* -------------- KeyWord Images ----------------------- */
  .services__skill-image {
    /* Box Model */
    border: 2px solid green;

    /* Layout */
    display: flex;
    flex-direction: column;
  }

  .keyword-img-container {
    /* Box Model */
    border: 10px solid peru;
    height: 500px;

    /* Position */
    position: relative;
    /* Layout */
    display: grid;
    grid-template-rows: 50px 50px 50px;
  }

  .keyword-img {
    width: 300px;
    height: 300px;

    object-fit: cover;
  }

  .responsiveWebsiteImage {
    /* Transform */
    transform: scale(1);

    /* Position */
    z-index: 3;
  }

  .cmsImage {
    transform: scale(0.95);
    z-index: 2;
  }

  .threeDdevelopmentImage {
    transform: scale(0.9);

    z-index: 1;
  }

  .first__image {
    /* Box Model */
    width: 250px;
    height: 300px;

    /* Fit Image */
    object-fit: contain;
    object-position: left;

    /* Position */
    z-index: 1;
  }

  .cms-img {
    /* Box Model */
    width: 242px;
    height: 300px;

    /* Image */
    object-fit: cover;
    /* aspect-ratio: 1 / 1; */

    /* Position */
    /* position: absolute;
    top: 0; */
  }

  /* ----------- KeyWords themselves ------------------- */
  .services__keyword-container {
    /* Box Model */
    margin-top: 2rem;

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* Typography */
    color: #8499b1;
    font-size: var(--size-xl);
    font-weight: bold;
  }

  .web-dev-keyword {
    text-align: left;
  }

  /* MOBILE FIRST PRE-DEFINED MEDIA QUERIES */
  /* xs */
  @media (min-width: 475px) {
    .services__title {
      font-size: var(--size-4xl);
    }

    .services__skill-name {
      font-size: var(--size-2xl);
    }
    .services__skill-description {
      font-size: var(--size-base);
    }

    .services__keyword-container {
      /* Typography */
      font-size: var(--size-2xl);
    }
  }

  /* sm */
  @media (min-width: 640px) {
    .services__skill-image {
      flex-direction: row;
      justify-content: space-between;
      /* flex: 1; */
    }

    .keyword-img-container {
      flex: 1;
    }

    .first__image {
      /* flex: 1; */
      text-align: left;
    }
    .services__keyword-container {
      flex: 1;
    }
  }

  /* md */
  /* @media (min-width: 768px) {} */

  /* lg */
  /* @media (min-width: 1024px) {} */

  /* xl */
  /* @media (min-width: 1280px) {} */

  /* 2xl */
  /* @media (min-width: 1536px) {} */
</style>

<script>
  // Get all Elements that have the Web Dev keyword buttons
  const webDevKeywords = document.querySelectorAll(
    '.web-dev-keyword'
  );

  // Get all the Web Dev Images
  const webDevImages = Array.from(
    document.querySelectorAll('.keyword-img')
  );

  // Add an Event Listener to each Element

  // Event Handler
  function handleKeyWordImageToggle(event) {
    // Get the data-key of the Selected Button
    const selectedKeyword = event.currentTarget;
    const key = selectedKeyword.getAttribute('data-key');
    console.log(key);

    // Use the Button's data-key to get the Image that matches
    let selectedWebDevImg = webDevImages.find(
      (img) => img.getAttribute('data-key') === key
    ) as HTMLElement;

    // Select the Image with the highest z-index
    const frontImage = webDevImages.find(
      (img) => window.getComputedStyle(img).zIndex === '3'
    ) as HTMLElement;

    // If the Image in Front is the same selected image return
    if (selectedWebDevImg == frontImage) {
      console.log('The same');
      return;
    }

    // Get the Current Z-Index & Scale of the Selected Image.
    const selectedImgZIndex =
      window.getComputedStyle(selectedWebDevImg).zIndex;
    const selectedImgTransform =
      window.getComputedStyle(selectedWebDevImg).transform;

    // Set the Z-Index & Transform of the Selected Image to 3
    selectedWebDevImg.style.zIndex = '3';
    selectedWebDevImg.style.transform = 'scale(1)';

    // Set the Z-Index & Transform of the frontImage to the old Z-Index of the selected image
    frontImage.style.zIndex = selectedImgZIndex;
    frontImage.style.transform = selectedImgTransform;

    // Confirm Keyword Button that was clicked. the element that was selected.
  }

  // Add an Event listner to all the buttons on the Web Dev page
  webDevKeywords.forEach((webDevkeyword) => {
    webDevkeyword.addEventListener('click', handleKeyWordImageToggle);
  });
</script>
