---

// Import Base Layout
import BaseLayout from "../layouts/BaseLayout.astro";

// Import a Small Component
import FormattedDate from "../components/shared/FormattedDate.astro";

// Import and Query Collections
import { getCollection } from "astro:content";

const allIdeaPosts = await getCollection('ideas');

---

<BaseLayout>
    <section class="blog-list">
        <ul>
            {
                allIdeaPosts.map( post => (
                    <li class="blog-list__item">
                        <a href=`/blogs/ideas/${post.slug}`>{post.data.title}</a>
                        <p>
                            <em><FormattedDate date={post.data.pubDate}/></em>
                        </p>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>

<style>
    .blog-list__item {
        /* list-style: none; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog-list__item a{
        color: white;
        text-decoration: none;
    }

    .blog-list__item a:hover {
        color: #2d82b7ff;
    }
    
</style>

