---
// Import Layouts
import BaseLayout from '../layouts/BaseLayout.astro';
import ContainerUtilityLayout from '../layouts/ContainerUtilityLayout.astro';

// Import Image components and images
import { Image, Picture } from 'astro:assets';
import computerImage from '../../public/computer-gif-30fps.gif';
// import computerImage from '../assets/images/computer-gif-30fps.gif';
import firstImage from '../assets/images/lady-with-bowl.jpg';
import secondImage from '../assets/images/street-art.jpg';
---



<BaseLayout>

  <section class='hero'>

    <ContainerUtilityLayout sectionContainer="hero__container">

      <div class="hero__intro">

        <div>
          <h1 class='hero__name'>Hello,</h1>
          <h1 class='hero__name'>I'm Fume</h1>
        </div>
        
        <p class="hero__desc">
          I'm a Web Developer and Motion Designer on a mission to
          build visually engaging, interactive, and immersive digital
          experience on the web through a Combination of Code, Design, 
          and Animation. I love learning, consistently iterating and
          experimenting with new technologies. You can check out some
          of my projects and let me know if you like to work together.
        </p>

        <button class="hero__btn">Reach Out</button>

      </div>

      <div class="hero__profile">

        <!-- <div class="hero__b1"></div>
        <div class="hero__b2"></div> -->
        <!-- <Picture src={computerImage} formats={['gif']} alt="computer"/> -->
        <img src={computerImage.src} class="hero__img"/>

      </div>

    </ContainerUtilityLayout>

  </section>


  <section class="services">
    <ContainerUtilityLayout>
      <h2 class="services__title">What I do</h2>

      <div class="services__web-dev-container">

        <div class="services__web-dev-intro">
          <h3>Web Development</h3>
          <p>
            I bring your Figma design to life
            using.
          </p>
        </div>

        <div class="services__web-dev-img-container">
          <Image class="first__image" src={firstImage} alt=""/>
          <Image class="second__image" src={secondImage} alt=""/>
          <!-- <img src="../assets/images/street-art.jpg" alt="" width="300"/> -->
        </div>

      </div>

      <div></div>
    </ContainerUtilityLayout>
  </section>


  
</BaseLayout>

<style>
 
  .hero__container {
    /* Layout */
    display: flex;
    flex-direction: row;
    gap: 5rem;

    /* Box Model */
    margin-top: 2rem;
  }

  /* --- Hero Intro --- */

  .hero__intro{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .hero__name {
    /** Typography */
    color: #f3dfbfff;
    font-size: 4rem;
  }

  .hero__desc{
    text-align: justify;
    /* margin-top: 2em;
    margin-bottom: 2em; */
  }

  .hero__btn {
    /* Background */
    background: #f3dfbfff;

    /** Typography */
    color: #17181cff;
    font-weight: 700;

    /* Box Model */
    width: 9.375em;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;

    /* Layout */
    display: inline-block;
    
  }

  /* --- Hero Profile --- */

  .hero__profile {
    /* Layout */
    flex: 1;

    display: flex;
    align-items: center;
  }

  .hero__img{

    /* Box Model */
    border: 2px solid #F3DFBF;
    border-radius: 25px;

    /*  */
    
  }


/* --------- Service Section------------- */
.services {
  /* Box Model */
  height: 500px;
  margin-top: 2rem;

  /* Typography */
  /* color: #17181C ; */

  /* Background */
  /* background-color: #F3DFBF; */
}

.services__title{
  text-align: center;
}

.services__web-dev-container{
  /* Layout */
  display: flex;
  /* justify-content: space-between; */
  /* border: 2px solid blue; */

  /* Box Model */
  /* height: 300px; */

}

.services__web-dev-intro{
  /* Layout */
  flex: 1;

}

/* --- Images --- */
.services__web-dev-img-container {
  /* Layout */
  flex: 1;

  display: flex;
  justify-content: flex-end;

  /* Box Model */
  height: 300px;

  /* Position */
  position: relative;

}




.first__image{
  /* Box Model */
  width: 300px;
  height: 85%;

  /* Image */
  object-fit: cover;
  object-position: top;
  /* aspect-ratio: 16 / 9; */

  /* Position */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

  
}
.second__image {
  /* Box Model */
  width: 300px;
  height: 85%;

  /* Image */
  object-fit: cover;
  object-position: center;

  /* Position */
  position: absolute;
  bottom: 0;
  
}


/* -------------------- Adding Responsiveness ------------------------ */





</style>
