---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class='hero'>
    <div class='container'>
      <h1 class='hero__name'>Fume Uvwie</h1>
      <h2 class='hero__occupation'>
        Front-End Developer | Motion Designer | Content Creator
      </h2>
      <p>
        Hello👋, I'm a Creative Developer on a mission to build
        visually engaging, interactive, and immersive digital
        experiences on the web through the combination of Code,
        Design, and Animation. I love learning, consistently iterating
        and experimenting with new technologies. You can check out
        some of my projects and let me know if you like to work
        together.
      </p>
      <button class='hero__btn'>Reach out</button>
    </div>
  </section>
</BaseLayout>

<style>
  .hero {
    margin-top: 2rem;
  }
  .hero__name {
    /** Typography */
    color: #f3dfbfff;
    font-size: 3rem;
  }
  .hero__occupation {
    /** Typography **/
    font-size: 1.25rem;

    /* Box Model */
    margin: 1rem 0rem 1rem;
  }
  .hero__btn {
    /* Background */
    background: #f3dfbfff;

    /** Typography */
    color: #17181cff;
    font-weight: 700;

    /* Box Model */
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
  }
</style>
