---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  
  <section class='hero'>
      <h1 class='hero__name'>Fume Uvwie</h1>
      <p class='hero__occupation'>
        Web/Game Developer | Motion Designer | Content Creator.
      </p>
      <p>
        Hello👋, I'm a Creative Developer on a mission to build
        visually engaging, interactive, and immersive digital
        experiences on the web through the combination of Code,
        Design, and Animation. I love learning, consistently iterating
        and experimenting with new technologies. You can check out
        some of my projects and let me know if you like to work
        together.
      </p>
      <button class='hero__btn'>Reach out</button>
  </section>

  <!-- <section class="what-i-do">
    <h2>What I do</h2>
    
    <div>
      <h3>Web Development</h3>
      <p>I bring Figma designs to life.</p>
    </div>

    <div>
      <h3>Motion Design</h3>
      <p>I Visualize ideas and brands</p>
    </div>

    <div></div>

  </section> -->

  <!-- <section class='education'>
    <h2>Education</h2>
    <div>
      <p>Memorial University of Newfoundland</p>
      <em>Bachelor of Science in Computer Science</em>
      <p>GPA: 3.6</p>
    </div>
  </section> -->

  <!-- <section class="technical-skills">
    <h2>Technical Skills</h2>

    <div class="technical-skills__code">
      <h3>Code</h3>
      <p>HTML/CSS</p>
      <p>React</p>
      <p>Astro</p>
    </div>

    <div class="technical-skills__design">
      <h3>Design</h3>
      <p>Davinci Resolve</p>
      <p>React</p>
      <p>Astro</p>
    </div>

    
  </section> -->

  <br>
  
</BaseLayout>

<style>
  /* -------- Hero Section ------------ */
  .hero {
  }
  .hero__name {
    /** Typography */
    color: #f3dfbfff;
    font-size: 4rem;
  }
  .hero__occupation {
    /** Typography **/
    font-size: 1.5rem;

    /* Box Model */
    margin: 1rem 0rem 1rem;
  }
  .hero__btn {
    /* Background */
    background: #f3dfbfff;

    /** Typography */
    color: #17181cff;
    font-weight: 700;

    /* Box Model */
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
  }

/* --------- Education Section------------- */
.education {
  margin-top: 2rem;
}

/* --------- Education Section------------- */
.technical-skills{
  margin-top: 2rem;
}

</style>
