---
// Import the StoryBlokAPI and its Component
import { useStoryblokApi } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';

// Use the StoryBlok Content Delivery API to get stories
const storyblokApi = useStoryblokApi();
const { data } = await storyblokApi.get('cdn/stories', {
  version: import.meta.env.DEV ? 'draft' : 'published',
  starts_with: 'blog/',
});

const blogPost = data.stories;
console.log(blogPost);

// const content = data.story.content;
---

<!-- Loop over the content and render it -->
<section></section>
<!-- <StoryblokComponent blok={content} /> -->
