---

// Impore motion library
import { motion } from "framer-motion"



// Get the href property that was passed into the component
const { href } = Astro.props;

// Get the Current Path from the URL
const currentPath = Astro.url.pathname;

// Check if this HeaderLink matches the current Path
const isActive = href === currentPath;

// console.log(href);
// console.log(currentPath);
---

<!-- This HeaderLink component exist so that I can indicate to the
viewer of my website which viewer is currently active. I don't need to
rewrite code -->


<a class:list={['header__nav-item', { header__activelink : isActive }]} href={href}> <slot/> </a>

<style>
    .header__nav-item {
        color: white;
        text-decoration: none;
    }

    .header__nav-item:hover {
        text-decoration: underline;
    }

    .header__activelink {
        text-decoration: underline;
    }
</style>