---
const { article } = Astro.props;
console.log(article);
---

<article>
  <!-- <img src={`${article.image.filename}`} />
  <div>
    <h1>{article.title}</h1>
    <p>{article.teaser}</p>
    <a>Read More >> </a>
  </div> -->
</article>
