---
// Destructure Props
const { projectName, projectDesc, projectTechStack, projectLink } =
  Astro.props;
---

<div class="project-card">
  <h3 class="project-name">{projectName}</h3>
  <div class="project-content">
    <p class="project-desc">
      {projectDesc}
    </p>
    <p class="project-tech-stack">
      {
        projectTechStack.map((tech, index, array) => {
          return (
            <span class="technology">
              {tech}
              {index < array.length - 1 ? ', ' : ''}
            </span>
          );
        })
      }
    </p>
  </div>
  <a class="project-link" href={projectLink} target="_blank"
    >See Project</a
  >
</div>

<style>
  .project-card {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.9em;

    /* Box Model */
    max-width: 300px;
    /* height: 300px; */
    padding: 2em;
    border-radius: 10px;

    /* Typography */
    color: var(--clr-eerie-black);

    /* Background */
    background-color: var(--clr-slate400);

    /* Transition */
    transition: background-color 0.25s ease;
  }

  .project-card:hover {
    background-color: var(--clr-dutch-white);
  }

  .project-content {
    /* Box model*/
    height: 100%;

    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    /* Typography */
    font-size: 0.875rem;
  }

  .project-name {
    width: fit-content;
  }

  .project-desc {
    /* text-align: center; */
    max-width: 45ch;
  }

  .project-tech-stack {
    width: fit-content;
    /* margin-top: 1rem; */
  }

  .technology {
    color: var(--clr-slate600);
    font-weight: bold;
    /* text-shadow: 1px 1px 2px var(--clr-steel-blue); */
  }

  a {
    /* Box Model */
    max-width: fit-content;
    padding: 0.5em 1em;
    border-radius: 10px;

    /* Typography */
    color: var(--clr-slate400);
    text-decoration: none;

    background-color: var(--clr-eerie-black);
  }

  /* xs */
  @media (min-width: 475px) {
    .project-content {
      font-size: 1rem;
    }
  }
</style>
