---

---
<div class="skill">

  <h3 class="skill__title">Skills / Interests:</h3>

  <table class="skill__table">

    <colgroup>
      <col class="skill__table--code"/>
      <col class="skill__table--design"/>
      <col class="skill__table--animation"/>
    </colgroup>

    <thead>
      <tr>
        <th>Code</th>
        <th>Design</th>
        <th>Animation</th>
      </tr>
    </thead>

    <tbody>
      
      <tr>
        <td>HTML/CSS</td>
        <td>Figma</td>
        <td>Davinci Resolve</td>
      </tr>

      <tr>
        <td>JavaScript</td>
        <td>Affinity Designer</td>
        <td>Blender</td>
      </tr>

      <tr>
        <td>Astro</td>
        <td></td>
        <td>Cavalry</td>
      </tr>

      
      <tr>
        <td>ThreeJS</td>
      </tr>
      
      <tr>
        <td>GLSL</td>
      </tr>

      <tr>
        <td>WGSL</td>
      </tr>

      <tr>
        <td>C++</td>
      </tr>

    </tbody>
  </table>
</div>

<style>
  .skill{
    margin-top: 2rem;
  }
  .skill__table {

      /* Box Model */
      width: 100%;
      margin-top: 1rem;

      /* Typography  */
      text-align:left;
      
  }
  /* .skill__table--code{
    background-color: blue;
  }
  .skill__table--design {
    background-color: red;
  }
  .skill__table--animation {
    background-color: green;
  } */
</style>