---

---

<section class="skill container section">
  <h2>Skills / Technologies</h2>
  <div>
    <h3>Front-End Development</h3>
    <ul>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>Astro</li>
      <li>ThreeJS</li>
      <li>GLSL</li>
      <li>C++</li>
    </ul>
  </div>

  <div>
    <h3>Back-End Development</h3>
    <ul>
      <li>AppWrite</li>
    </ul>
  </div>
</section>

<style></style>

<!-- <section class="skill container section">
  <h2 class="skill__title">Skills/Technologies:</h2>

  <table class="skill__table">
    <colgroup>
      <col class="skill__table--code" />
      <col class="skill__table--design" />
      <col class="skill__table--animation" />
    </colgroup>

    <thead>
      <tr>
        <th>Code</th>
        <th>Design</th>
        <th>Animation</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>HTML/CSS</td>
        <td>Figma</td>
        <td>Davinci Resolve</td>
      </tr>

      <tr>
        <td>JavaScript</td>
        <td>Affinity Designer</td>
        <td>Blender</td>
      </tr>

      <tr>
        <td>Astro</td>
        <td></td>
        <td>Cavalry</td>
      </tr>

      <tr>
        <td>ThreeJS</td>
      </tr>

      <tr>
        <td>GLSL</td>
      </tr>

      <tr>
        <td>WGSL</td>
      </tr>

      <tr>
        <td>C++</td>
      </tr>
    </tbody>
  </table>
</section>

<style>
  .skill__title {
    text-align: center;
    color: var(--clr-dutch-white);
  }

  .skill__table {
    /* Box Model */
    width: 100%;
    margin-top: 1rem;

    /* Typography  */
    text-align: left;
  }
</style> -->
