---
// Import the CSS Styling for the BaseLayout
import '../styles/global.css';
import '../styles/utils.css';

// Import Sections
import Header from '../components/sections/Header.astro';
import Footer from '../components/sections/Socials.astro';

// Import View Transitions
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Fumez</title>
    <!-- <ViewTransitions /> -->
  </head>

  <body>
    <Header />
    <slot />
    <style>
      .slot {
        margin-top: 2rem;
      }

      .footer {
        margin-top: 2rem;
      }
    </style>

    <!-- <style is:global>
	
</style> -->
  </body>
</html>
