---

// Import the CSS Styling for the BaseLayout
import '../styles/global.css'
import '../styles/utils.css'


// Import Sections
import Header from "../components/sections/Header.astro";
import Footer from '../components/sections/Footer.astro';


---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Fumez</title>
	</head>

	<body>
		<div class="container">

			<section class="header">
				<Header></Header>
			</section>

			<section class="slot">
				<slot />
			</section>

			<section class="footer">
				<Footer></Footer>
			</section>
		</div>
		

		<!-- <section class="container">
			<h1>The current URL is: {Astro.url}</h1>
			<h1>The current URL pathname is: {Astro.url.pathname}</h1>
			<h1>The current URL origin is: {Astro.url.origin}</h1>
		</section> -->
		

		<!-- <section class="container">
			<slot />
		</section> -->

	</body>

</html>

<style>
	.slot{
		margin-top: 2rem;
	}

	.footer{
		margin-top: 2rem;
	}
</style>

<!-- <style is:global>
	
</style> -->
